<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre mim</title>
        <link rel="stylesheet" href="/styles/integrantes.css"> <!--É essa linha que conecta a página HTML com o arquivo CSS-->
    </head>

    <body>

        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <a href="/templates/pagina_principal.html"><img class="cabecalho__menu__imagem" src="/assets/COMUNIDADE_PRAIA_LIMPA__2_-removebg-preview_2.png"></a>
                <a class="cabecalho__menu__link" href="/templates/integrantes.html">Integrantes</a>
                <a class="cabecalho__menu__link" href="/templates/saber_mais.html">Saber Mais</a>
                <a class="cabecalho__menu__link" href="/templates/ongs_colaboradoras.html">ONGs Colaboradoras</a>
                <a class="cabecalho__menu__link" href="/templates/relatar.html">Relatar</a>
            </nav>
        </header>


        <main class="apresentacao">

            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/The_Macedo.png" alt="Foto de Alexsandro Macedo">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Alexsandro Macedo de Jesus</p>
                        <p class="apresentacao__conteudo__texto">RM: 557068</p>
                        <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="https://github.com/AlexxsandroM" target="_blank"><strong class="titulo-destaque">Github</strong></a></p>
                    </div>
                </div>
            </section>


            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/DanDanDanDan.png" alt="Foto de Danilo Correia">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Danilo Correia e Silva</p>
                        <p class="apresentacao__conteudo__texto">RM: 557540</p>
                        <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="https://github.com/dan25ak1" target="_blank"><strong class="titulo-destaque">Github</strong></a></p>
                    </div>
                </div>
            </section>


            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/Master_Enzoway.jpg" alt="Foto de Enzo Prado">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Enzo Prado Soddano</p>
                        <p class="apresentacao__conteudo__texto">RM: 557937</p>
                        <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="https://github.com/DerBrasilianer" target="_blank"><strong class="titulo-destaque">Github</strong></a></p>
                    </div>
                </div>
            </section>

        </main>


        <footer>
                <p class="rodape">Desenvolvido pela AlphaSolvers</p>
        </footer> 

    </body>

</html>