<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre mim</title>
        <link rel="stylesheet" href="/styles/integrantes.css"> <!--É essa linha que conecta a página HTML com o arquivo CSS-->
    </head>

    <body>

        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <button class="cabecalho__menu__botao" type="menu" onclick="toggleMenu()"></button>

                <a href="/templates/pagina_principal.html"><img class="cabecalho__menu__imagem" src="/assets/COMUNIDADE_PRAIA_LIMPA__2_-removebg-preview_2.png"></a>
                <a class="cabecalho__menu__link home" href="pagina_principal.html">Home</a>
                <a class="cabecalho__menu__link" href="/templates/integrantes.html">Integrantes</a>
                <a class="cabecalho__menu__link" href="/templates/saber_mais.html">Saber Mais</a>
                <a class="cabecalho__menu__link" href="/templates/ongs_colaboradoras.html">ONGs Colaboradoras</a>
                <a class="cabecalho__menu__link" href="/templates/relatar.html">Relatar</a>
                <a class="cabecalho__menu__link__login" href="/templates/cadastro_login.html">Cadastro/Login</a>
            </nav>
        </header>


        <main class="apresentacao">

            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/The_Macedo.png" alt="Foto de Alexsandro Macedo">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Alexsandro Macedo de Jesus <strong>RM: 557068</strong></p>
                        <p class="apresentacao__conteudo__texto">Email: Alexsandromacedo872@gmail.com</p>
                        <div class="apresentacao__links">
                            <a class="apresentacao__links__navegacao tamanho" href="https://www.linkedin.com/in/alexsandro-macedo-53213a227/" target="_blank">
                                <img src="/assets/LinkedIn_Logo.png" alt="Logo do LinkedIn">
                                LinkedIn</a>
                            <a class="apresentacao__links__navegacao" href="https://github.com/AlexxsandroM" target="_blank">
                                <img src="/assets/Github_Logo.png" alt="Logo do Github">
                                Github</a>
                        </div>
                    </div>
                </div>
            </section>


            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/DanDanDanDan.png" alt="Foto de Danilo Correia">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Danilo Correia e Silva <strong>RM: 557540</strong></p>
                        <p class="apresentacao__conteudo__texto">Email: dcs2501@gmail.com</p>
                        <div class="apresentacao__links">
                            <a class="apresentacao__links__navegacao tamanho" href="https://www.instagram.com/danx.cr/" target="_blank">
                                <img src="/assets/Instagram_Logo.png" alt="Logo do Instagram">
                                Instagram</a>
                            <a class="apresentacao__links__navegacao" href="https://github.com/dan25ak1" target="_blank">
                                <img src="/assets/Github_Logo.png" alt="Logo do Github">
                                Github</a>
                        </div>
                    </div>
                </div>
            </section>


            <section class="apresentacao__conteudo">
                <div class="apresentacao__conteudo__integrante">
                    <img class="apresentacao__imagem" src="/assets/Master_Enzoway.jpg" alt="Foto de Enzo Prado">
                    <div>
                        <p class="apresentacao__conteudo__texto">Aluno: Enzo Prado Soddano <strong>RM: 557937</strong></p>
                        <p class="apresentacao__conteudo__texto">Email: enzosoddano1203@gmail.com</p>
                        <div class="apresentacao__links">
                            <a class="apresentacao__links__navegacao" href="https://x.com/BrasilianerDer" target="_blank">
                                <img src="/assets/Twitter_Logo.png" alt="Logo do Twitter">
                                Twitter</a>
                            <a class="apresentacao__links__navegacao" href="https://github.com/DerBrasilianer" target="_blank">
                                <img src="/assets/Github_Logo.png" alt="Logo do Github">
                                Github</a>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer>
                <p class="rodape">Desenvolvido pela AlphaSolvers</p>
        </footer> 

        <script src="/scripts/integrantes.js"></script>
    </body>

</html>