<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ONGs Colaboradoras</title>
        <link rel="stylesheet" href="/styles/ongs_colaboradoras.css"> <!--É essa linha que conecta a página HTML com o arquivo CSS-->
    </head>

    <body>

        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <button class="cabecalho__menu__botao" type="menu" onclick="toggleMenu()"></button>

                <a href="/templates/pagina_principal.html"><img class="cabecalho__menu__imagem" src="/assets/COMUNIDADE_PRAIA_LIMPA__2_-removebg-preview_2.png"></a>
                <a class="cabecalho__menu__link home" href="pagina_principal.html">Home</a>
                <a class="cabecalho__menu__link" href="/templates/integrantes.html">Integrantes</a>
                <a class="cabecalho__menu__link" href="/templates/saber_mais.html">Saber Mais</a>
                <a class="cabecalho__menu__link" href="/templates/ongs_colaboradoras.html">ONGs Colaboradoras</a>
                <a class="cabecalho__menu__link" href="/templates/relatar.html">Relatar</a>
                <a class="cabecalho__menu__link__login" href="/templates/cadastro_login.html">Cadastro/Login</a>
            </nav>
        </header>


        <main class="apresentacao">

            <section class="apresentacao__conteudo">
                <h1 class="apresentacao__conteudo__titulo">Aqui você aprenderá sobre ONGs parceiras desse projeto!</h1>
                <p class="apresentacao__conteudo__texto">A nossa comunidade luta todos os dias por praias limpas e ecossistemas litorâneos saudáveis, mas não podemos fazer tudo sozinhos. Assim como vocês nos ajudam com os relatos de poluição e doações, nós contamos com diversas outras ONGs e grupos voluntários para cumprir a nossa visão.</p>
            </section>


            <div class="apresentacao__corpo">
                <div>
                    <h2 class="apresentacao__conteudo__titulo"><a href="#">Praia Limpa, Vida Limpa</a></h2>
                    <p class="apresentacao__corpo__texto"><strong>Propósito:</strong> Conscientizar a população sobre a importância da preservação das praias e realizar ações de limpeza frequentes.</p>
                    <p class="apresentacao__corpo__texto"><strong>Atividades:</strong></p>
                    <p class="apresentacao__corpo__texto"><strong>Campanhas de Conscientização:</strong> Organizar eventos educacionais em escolas e comunidades locais sobre a importância da conservação marinha.</p>
                    <p class="apresentacao__corpo__texto"><strong>Dias de Limpeza Comunitária:</strong> Realizar mutirões mensais de limpeza nas praias, envolvendo voluntários locais e turistas.</p>
                    <p class="apresentacao__corpo__texto"><strong>Monitoramento de Lixo:</strong> Instalar e gerenciar estações de coleta seletiva nas praias e realizar auditorias periódicas sobre o tipo e a quantidade de lixo coletado.</p>
                </div>
                <img class="apresentacao__imagem" src="/assets/ongs_colaboradoras_1.png">
            </div>
            <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="#"><strong class="titulo-destaque">Visitar Praia Limpa, Vida Limpa</strong></a></p>


            <div class="apresentacao__corpo">
                <img class="apresentacao__imagem" src="/assets/ongs_colaboradoras_2.png">
                <div>
                    <h2 class="apresentacao__conteudo__titulo"><a href="#">Oceano Azul</a></h2>
                    <p class="apresentacao__corpo__texto"><strong>Propósito:</strong> Proteger a vida marinha através da redução do lixo nas praias e nos oceanos.</p>
                    <p class="apresentacao__corpo__texto"><strong>Atividades:</strong></p>
                    <p class="apresentacao__corpo__texto"><strong>Educação Ambiental:</strong> Desenvolver e distribuir materiais educativos sobre a poluição marinha e suas consequências para a vida marinha.</p>
                    <p class="apresentacao__corpo__texto"><strong>Parcerias com Pescadores:</strong> Colaborar com comunidades pesqueiras para promover práticas de pesca sustentável e a coleta de lixo marinho.</p>
                    <p class="apresentacao__corpo__texto"><strong>Reciclagem de Plásticos:</strong> Criar pontos de coleta e reciclagem de plásticos nas praias, transformando o material em novos produtos.</p>
                </div>
            </div>
            <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="#"><strong class="titulo-destaque">Visitar Oceano Azul</strong></a></p>


            <div class="apresentacao__corpo">
                <div>
                    <h2 class="apresentacao__conteudo__titulo"><a href="#">Mar Sem Plástico</a></h2>
                    <p class="apresentacao__corpo__texto"><strong>Propósito:</strong> Reduzir o uso de plásticos descartáveis e promover alternativas sustentáveis.</p>
                    <p class="apresentacao__corpo__texto"><strong>Atividades:</strong></p>
                    <p class="apresentacao__corpo__texto"><strong>Workshops de Alternativas Sustentáveis:</strong> Oferecer oficinas sobre como substituir plásticos descartáveis por opções reutilizáveis e compostáveis.</p>
                    <p class="apresentacao__corpo__texto"><strong>Campanha 'Praia Sem Plástico':</strong> Distribuir kits reutilizáveis (sacolas, garrafas, canudos recicláveis) para frequentadores de praia.</p>
                    <p class="apresentacao__corpo__texto"><strong>Eventos Eco-Friendly:</strong> Organizar eventos de praia sem plástico, onde todos os produtos e alimentos vendidos utilizem embalagens sustentáveis.</p>
                </div>
                <img class="apresentacao__imagem" src="/assets/ongs_colaboradoras_3.png">
            </div>
            <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="#"><strong class="titulo-destaque">Visitar Mar Sem Plástico</strong></a></p>


            <div class="apresentacao__corpo">
                <img class="apresentacao__imagem" src="/assets/ongs_colaboradoras_4.png">
                <div>
                    <h2 class="apresentacao__conteudo__titulo"><a href="#">Guardião das Praias</a></h2>
                    <p class="apresentacao__corpo__texto"><strong>Propósito:</strong> Envolver a juventude na preservação das praias e do ambiente marinho.</p>
                    <p class="apresentacao__corpo__texto"><strong>Atividades:</strong></p>
                    <p class="apresentacao__corpo__texto"><strong>Programas de Voluntariado Juvenil:</strong> Criar programas onde jovens possam se inscrever para ajudar na limpeza e conservação das praias.</p>
                    <p class="apresentacao__corpo__texto"><strong>Clubes Ambientais nas Escolas:</strong> Estabelecer clubes ambientais em escolas locais para promover projetos de sustentabilidade focados nas praias.</p>
                    <p class="apresentacao__corpo__texto"><strong>Aplicativo de Monitoramento:</strong> Desenvolver um aplicativo onde os jovens podem reportar áreas com lixo e colaborar em ações de limpeza.</p>
                </div>
            </div>
            <p class="apresentacao__conteudo__texto"><a class="apresentacao__conteudo__texto" href="#"><strong class="titulo-destaque">Visitar Guardião das Praias</strong></a></p>

        </main>


        <footer>
                <p class="rodape">Desenvolvido pela AlphaSolvers</p>
        </footer> 

        <script src="/scripts/ongs_colaboradoras.js"></script>
    </body>

</html>