<!DOCTYPE html>
<html lang="pt-br">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comunidade Praia Limpa</title>
        <link rel="stylesheet" href="/styles/pagina_principal.css"> <!--É essa linha que conecta a página HTML com o arquivo CSS-->
    </head>


    <body>

        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <button class="cabecalho__menu__botao" type="menu" onclick="toggleMenu()"></button>

                <a href="/templates/pagina_principal.html"><img class="cabecalho__menu__imagem" src="/assets/COMUNIDADE_PRAIA_LIMPA__2_-removebg-preview_2.png"></a>
                <a class="cabecalho__menu__link home" href="pagina_principal.html">Home</a>
                <a class="cabecalho__menu__link" href="/templates/integrantes.html">Integrantes</a>
                <a class="cabecalho__menu__link" href="/templates/saber_mais.html">Saber Mais</a>
                <a class="cabecalho__menu__link" href="/templates/ongs_colaboradoras.html">ONGs Colaboradoras</a>
                <a class="cabecalho__menu__link" href="/templates/relatar.html">Relatar</a>
                <a class="cabecalho__menu__link__login" href="/templates/cadastro_login.html">Cadastro/Login</a>
            </nav>
        </header>


        <main class="apresentacao">

            <section class="apresentacao__conteudo">

                <h1 class="apresentacao__conteudo__titulo">"Preservar significa proteger a nós, o nosso mundo e o <strong class="titulo-destaque">nosso Futuro</strong>."</h1>
                <p class="apresentacao__conteudo__texto">É a solene missão da Comunidade Praia Limpa proteger o patrimônio ambiental e cultural das praias do nosso Brasil. Com a sua ajuda, nós nos dedicamos a lutar por, preservar e proteger os ambientes e ecossistemas litorâneos.</p>

                <div class="apresentacao__links">
                    <h2 class="apresentacao__links__subtitulo">Acesse as nossas redes:</h2>
                    <a class="apresentacao__links__navegacao" href="https://x.com/c_praialimpa" target="_blank">
                        <img src="/assets/Twitter_Logo.png" alt="Logo do Twitter">
                        Twitter</a>
                    <a class="apresentacao__links__navegacao" href="https://github.com/DerBrasilianer" target="_blank">
                        <img src="/assets/Github_Logo.png" alt="Logo do Github">
                        Github</a>
                    <a class="apresentacao__links__navegacao" href="https://www.twitch.tv/Der_Brasilianer" target="_blank">
                        <img src="/assets/Twitch_Logo.png" alt="Logo da Twitch">
                        Twitch</a>
                </div>

            </section>

            <div class="apresentacao__corpo">
                <div>
                    <h2 class="apresentacao__conteudo__titulo">Quem somos</h2>
                    <p class="apresentacao__conteudo__texto">Desde a nossa fundação em Março de 2004, a Comunidade Praia Limpa vem crescendo e atuando cada vez mais na limpeza de praias e colaborando com grupos ativistas que visam um meio-ambiente limpo e saudável. O ativismo, a coragem e a esperança de transformar a realidade são princípios que orientam nossas campanhas e a forma como atuamos. Somente de forma coletiva vamos desenvolver soluções efetivas para um futuro verde e pacífico. Precisamos de você nessa jornada!</p>
                </div>
                <img class="apresentacao__imagem" src="/assets/Grupo_Voluntário.png">
            </div>

            <div class="apresentacao__corpo">
                <img class="apresentacao__imagem" src="/assets/Missao.png">
                <div>
                    <h2 class="apresentacao__conteudo__titulo">Missão e Visão</h2>
                    <p class="apresentacao__conteudo__texto">Promover a conscientização ambiental e a preservação das praias através da educação, monitoramento contínuo e incentivo à participação ativa da comunidade em ações de limpeza e conservação, garantindo um ambiente costeiro limpo e saudável para todos.</p>
                    <p class="apresentacao__conteudo__texto">É a nossa visão sermos reconhecido como o principal projeto de mobilização comunitária para a preservação das praias, inspirando outras regiões a adotarem práticas sustentáveis e colaborativas para a proteção dos ambientes marinhos.</p>
                </div>
            </div>

            <div class="apresentacao__corpo">
                <div>
                    <h2 class="apresentacao__conteudo__titulo">Nossos Valores</h2>
                    <p class="apresentacao__conteudo__texto apresentacao__valores"><strong class="titulo-destaque">Sustentabilidade:</strong> Compromisso com práticas que garantam a preservação do meio ambiente para as futuras gerações.</p>
                    <p class="apresentacao__conteudo__texto apresentacao__valores"><strong class="titulo-destaque">Educação Ambiental:</strong>  Fomentar o conhecimento e a consciência sobre a importância de manter as praias limpas e saudáveis.</p>
                    <p class="apresentacao__conteudo__texto apresentacao__valores"><strong class="titulo-destaque">Comunidade:</strong> Envolver e capacitar a comunidade local para que se tornem agentes ativos na conservação das praias.</p>
                    <p class="apresentacao__conteudo__texto apresentacao__valores"><strong class="titulo-destaque">Transparência:</strong> Manter uma comunicação clara e aberta sobre as condições das praias e as ações realizadas.</p>
                    <p class="apresentacao__conteudo__texto apresentacao__valores"><strong class="titulo-destaque">Responsabilidade Social:</strong> Promover a participação cidadã e o engajamento em atividades que beneficiem o bem-estar coletivo e o meio ambiente.</p>
                </div>
            </div>

        </main>


        <footer>
            <p class="rodape">Desenvolvido pela AlphaSolvers</p>
        </footer> 

        <script src="/scripts/pagina_principal.js"></script>
    </body>

    
</html>