<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saber mais</title>
        <link rel="stylesheet" href="/styles/saber_mais.css"> <!--É essa linha que conecta a página HTML com o arquivo CSS-->
    </head>


    <body>

        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <button class="cabecalho__menu__botao" type="menu" onclick="toggleMenu()"></button>

                <a href="/templates/pagina_principal.html"><img class="cabecalho__menu__imagem" src="/assets/COMUNIDADE_PRAIA_LIMPA__2_-removebg-preview_2.png"></a>
                <a class="cabecalho__menu__link home" href="pagina_principal.html">Home</a>
                <a class="cabecalho__menu__link" href="/templates/integrantes.html">Integrantes</a>
                <a class="cabecalho__menu__link" href="/templates/saber_mais.html">Saber Mais</a>
                <a class="cabecalho__menu__link" href="/templates/ongs_colaboradoras.html">ONGs Colaboradoras</a>
                <a class="cabecalho__menu__link" href="/templates/relatar.html">Relatar</a>
                <a class="cabecalho__menu__link__login" href="/templates/cadastro_login.html">Cadastro/Login</a>
            </nav>
        </header>


        <main class="apresentacao">

            <section class="apresentacao__conteudo">
                <h1 class="apresentacao__conteudo__titulo">Como você pode ajudar</h1>
                <p class="apresentacao__conteudo__texto">Promover comportamentos mais benéficos para o meio ambiente é essencial para garantir a sustentabilidade do planeta e a preservação de ecossistemas vitais, como as praias. A seguir, apresento uma introdução sobre práticas gerais e específicas que contribuem para um meio ambiente mais saudável:</p>
                
                <h2 class="apresentacao__conteudo__titulo azul">Comportamentos Gerais Benéficos para o Meio Ambiente</h2>
            
                <h2 class="apresentacao__conteudo__titulo verde">Redução de Resíduos:</h2>
                
                <p class="apresentacao__conteudo__texto">•Reciclagem e Reutilização: Separar materiais recicláveis e reutilizar itens para minimizar o desperdício.</p>
                <p class="apresentacao__conteudo__texto">•Redução do Uso de Plástico: Optar por sacolas reutilizáveis, evitar produtos descartáveis e preferir embalagens biodegradáveis.</p>

                <h2 class="apresentacao__conteudo__titulo verde">Consumo Consciente:</h2>
                
                <p class="apresentacao__conteudo__texto">•Escolha de Produtos Sustentáveis: Optar por produtos com menor impacto ambiental, como aqueles feitos de materiais reciclados ou orgânicos.</p>
                <p class="apresentacao__conteudo__texto">•Redução do Consumo de Energia: Usar lâmpadas LED, aproveitar a luz natural e investir em eletrodomésticos eficientes.</p>
                
                <h2 class="apresentacao__conteudo__titulo verde">Mobilidade Sustentável:</h2>
                
                <p class="apresentacao__conteudo__texto">•Transporte Público e Bicicletas: Preferir o transporte público, bicicleta ou caminhar, reduzindo a emissão de gases poluentes.</p>
                <p class="apresentacao__conteudo__texto">•Carona Solidária e Carros Elétricos: Compartilhar viagens e optar por veículos elétricos ou híbridos.</p>

                <h2 class="apresentacao__conteudo__titulo verde">Conservação de Água:</h2>
                
                <p class="apresentacao__conteudo__texto">•Uso Eficiente da Água: Instalar dispositivos economizadores de água, consertar vazamentos e reutilizar água da chuva.</p>
                <p class="apresentacao__conteudo__texto">•Consumo Consciente: Evitar o desperdício de água em atividades diárias como lavar a louça e tomar banho.</p>
                
                <h2 class="apresentacao__conteudo__titulo azul">Comportamentos Específicos para a Preservação das Praias</h2>
                
                <h2 class="apresentacao__conteudo__titulo verde">Descarte Adequado de Resíduos:</h2>
                
                <p class="apresentacao__conteudo__texto">•Lixeiras Apropriadas: Utilizar lixeiras disponibilizadas nas praias e, quando não houver, levar o lixo de volta para casa.</p>
                <p class="apresentacao__conteudo__texto">•Coleta de Lixo: Participar de mutirões de limpeza das praias para remover resíduos que podem prejudicar a vida marinha.</p>
                
                <h2 class="apresentacao__conteudo__titulo verde">Proteção da Fauna e Flora Marinha:</h2>
                
                <p class="apresentacao__conteudo__texto">•Respeito aos Animais Marinhos: Não alimentar ou tocar nos animais, e manter distância de seus habitats naturais.</p>
                <p class="apresentacao__conteudo__texto">•Preservação da Vegetação Nativa: Evitar pisar ou danificar a vegetação costeira, essencial para a proteção contra a erosão.</p>
                
                <h2 class="apresentacao__conteudo__titulo verde">Uso Responsável de Produtos:</h2>
                
                <p class="apresentacao__conteudo__texto">•Protetores Solares: Escolher protetores solares biodegradáveis que não contenham substâncias prejudiciais aos corais e à vida marinha.</p>
                <p class="apresentacao__conteudo__texto">•Produtos de Limpeza: Utilizar produtos de limpeza ecológicos ao lavar embarcações ou equipamentos de praia.</p>
                
                <h2 class="apresentacao__conteudo__titulo verde">Consciência e Educação Ambiental:</h2>
                
                <p class="apresentacao__conteudo__texto">•Conscientização: Informar e educar outros visitantes sobre a importância da preservação das praias.</p>
                <p class="apresentacao__conteudo__texto">•Respeito às Regras Locais: Seguir as diretrizes e regulamentos locais de preservação ambiental e áreas de proteção.</p>
                
                <br>

                <p class="apresentacao__conteudo__texto">
                <strong>Adotar essas práticas não só ajuda a proteger o meio ambiente em um nível geral, mas também garante que as praias, que são ambientes delicados e vitais para muitos ecossistemas, permaneçam saudáveis e acessíveis para as futuras gerações.
            </strong></p>
            </section>

        </main>


        <footer>
            <p class="rodape">Desenvolvido pela AlphaSolvers</p>
        </footer>

        <script src="/scripts/saber_mais.js"></script>
    </body>

</html>
