@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* Usar o Google Fonts para encontrar diferentes tipos de fontes! */

:root {
    --cor-cabecalho: #2065be;
    --cor-primaria: #0f1216;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #00ADB5;
    --cor-quartenaria: #0fca37;
    --cor-hover: #212429;
    --cor-hover-2: #d4d4d4;
    --cor-hover-3: #0d9b2b;
    
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/Praia_Sendo_Limpa.png);
    background-position-y: top;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1.5% 0% 1.5% 5%;
    background-color: var(--cor-cabecalho);
    background-image:url(/assets/COMUNIDADE_PRAIA_LIMPA__1_-removebg-preview_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid var(--cor-quartenaria);
    border-top: solid var(--cor-quartenaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__botao {
    height: 2rem;
    width: 2rem;
    min-width: 32px;
    min-height: 33px;
    background-image: url(/assets/Menu.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    background-color: var(--cor-cabecalho);
    border-radius: 1rem;
    border: 0.3rem solid var(--cor-quartenaria);
    cursor: pointer;
}

.cabecalho__menu__botao:hover {
    background-color: var(--cor-hover-4);
    border: 0.1rem solid var(--cor-secundaria);
}

.home {
    display: none;
}

.cabecalho__menu__imagem {
    height: 6.5rem;
    width: 6.5rem;
    min-width: 32px;
    min-height: 33px;
    border-radius: 5rem;
}

.cabecalho__menu__imagem:hover {
    height: 6.125rem;
    width: 6.125rem;
    border: 0.2rem solid var(--cor-quartenaria);
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 1% 0% 0% 0%;
}

.cabecalho__menu__imagem--escondido,
.cabecalho__menu__link--escondido,
.cabecalho__menu__link__login--escondido {
  display: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quartenaria);
}

.cabecalho__menu__link__login {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 2.5rem 1rem 0 1rem;
    background-color: transparent;
    border: 3px solid var(--cor-primaria);
    border-radius: 50px;
}

.cabecalho__menu__link__login:hover {
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    flex-direction: column;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    margin: 15% 0% 0% 0%;
    padding: 1%;
    border-radius: 1rem;
    border-left: 0.7rem solid var(--cor-hover-2);
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-principal);
}

.titulo-destaque {
    color: var(--cor-hover-3);
    font-size: 1.6rem;
    font-weight: 700;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    padding-top: 2rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border: 3px solid var(--cor-primaria);
    width: 30%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 20px 27px; /* 1ยบ valor: Vertical | 2ยบ valor: Horizontal */
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao:hover {
    border: 3px solid var(--cor-hover-3);
}

.apresentacao__corpo {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 1%;
    margin-bottom: 1%;
    border: 4px solid var(--cor-quartenaria);
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__valores {
    text-align: left;
}

.rodape {
    padding: 15px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1024px) {
    /* Estilos para iPads */

    body {
        width: 100%;
        padding-bottom: 69%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho__menu__botao {
        display: none;
    }

    .cabecalho__menu__imagem {
        display: none;
    }

    .home {
        display: block;
    }

    .cabecalho__menu__link {
        font-size: 100%;
    }

    .cabecalho__menu__link__login a{
        margin: 0;
        padding: 0;
    }

    .apresentacao {
        display: flex;
    }

    .apresentacao__corpo {
        display: flex;
        flex-direction: column-reverse;
        padding: 0% 0% 5%;
        text-align: center;
    }

    .apresentacao__conteudo, .apresentacao__links__navegacao {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }

    .apresentacao__links__navegacao {
        height: 30%;
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apresentacao__imagem {
        width: auto;
    }

}

@media (max-width: 390px) {
    
    body {
        width: 100%;
    }

    .cabecalho {
        flex-direction: row;
        background-image: url(/assets/relatar_Nav.png);
        background-size: auto;
        text-align: center;
        padding: 10%;
        padding-left: 3%;
    }

    .cabecalho__menu {
        gap: 0.55rem;
    }

    .cabecalho__menu__botao {
        display: none;
    }

    .cabecalho__menu__imagem {
        display: none;
    }

    .home {
        display: block;
    }

    .cabecalho__menu__link {
        font-size: .5rem;
    }

    .cabecalho__menu__link__login {
        padding: 0;
        font-size: .5rem;
        border: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        padding-top: 1%;
    }

    .apresentacao__links__navegacao {
        left: 50%;
        right: 50%;
        padding: 0;
        text-align: center;
    }
    
    .apresentacao__conteudo {
        width: 80%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }

    .titulo-destaque {
        font-size: 1.3rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }

    .apresentacao__imagem {
        width: auto;
    }

    .apresentacao__valores {
        text-align: center;
    }

}
