@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* Usar o Google Fonts para encontrar diferentes tipos de fontes! */

:root {
    --cor-cabecalho: #2065be;
    --cor-primaria: #0f1216;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #00ADB5;
    --cor-quartenaria: #0fca37;
    --cor-hover: #212429;
    --cor-hover-2: #d4d4d4;
    --cor-hover-3: #0d9b2b;
    --cor-hover-4: #184a8b;
    
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/relatar_Background.png);
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--cor-secundaria);
    border-radius: 2rem;
}

.cabecalho {
    padding: 1.5% 0% 1.5% 5%;
    background-color: var(--cor-cabecalho);
    background-image:url(/assets/relatar_Nav.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid var(--cor-quartenaria);
    border-top: solid var(--cor-quartenaria);
    margin-bottom: 5%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__imagem {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 5rem;
}

.cabecalho__menu__imagem:hover {
    height: 6.125rem;
    width: 6.125rem;
    border: 0.2rem solid var(--cor-quartenaria);
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 1% 0% 0% 0%;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quartenaria);
}

.cabecalho__menu__link__login {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 2.5rem 1rem 0 1rem;
    background-color: transparent;
    border: 3px solid var(--cor-primaria);
    border-radius: 50px;
    margin-left: 10rem;
}

.cabecalho__menu__link__login:hover {
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
}

input#imagem {
    margin-bottom: 5%;
}

input {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
}

button {
    width: 50%;
    height: 2rem;
    font-size: 1rem;
    font-family: var(--fonte-principal);
    background-color: var(--cor-cabecalho);
    color: var(--cor-secundaria);
    margin-top: 1rem;
}

button.close {
    top: 90%;
    right: 90%;
}

dialog {
    width: 30%;
    height: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    flex-direction: column;
    margin-bottom: 5%;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-cabecalho);
    color: var(--cor-primaria);
    margin: 15% 0% 0% 0%;
    padding: 1%;
    border-radius: 1rem;
    border-left: 0.7rem solid var(--cor-hover-4);
    border-bottom: 0.7rem solid var(--cor-hover-4);
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-principal);
    padding: 2rem;
    border: 3px solid var(--cor-primaria);
    border-radius: 10px;
    background-color: transparent;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-hover-4);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--cor-primaria);
}

a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

a:hover {
    color: var(--cor-cabecalho);
}

.apresentacao input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.apresentacao__conteudo__descricao {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    cursor: text;
    margin-bottom: 5%;
}

.apresentacao input[type="submit"] {
  background-color: var(--cor-cabecalho);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 2rem;
}

.apresentacao input[type="submit"]:hover {
  background-color: var(--cor-hover-4);
}

.close {
    background-color: var(--cor-cabecalho);
    color: var(--cor-secundaria);
    width: 1.7rem;
    cursor: pointer;
}

.close:hover {
    background-color: var(--cor-hover-4);
}

.rodape {
    padding: 15px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        /* Como no .cabecalho__menu já foi colocada a propriedade flexbox, não precisamos escrever novamente no @media */
        justify-content: center;
        gap: 40px;
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }

    body {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }

    .apresentacao {
        display: flex;
        flex-direction: column-reverse;
        padding: 0% 0% 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
